header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(43, 255, 0);
}

.inputDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

input, button {
    display: inline-block;
}